body {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Начало Меню */
#menu {
    background-color: #282828;
    width: 170px;
    height: auto;
    color: lightgray;
    padding: 10px;
    text-align: center;
    border-radius: 0% 0% 15% 0%;
}

.menubutton {
    width: 170px;
    height: 25px;
    margin-top: 5%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.menubutton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.menubutton:active {
    color: #000
}

.menubutton:active:after {
    background: transparent;
}

.menubutton:hover:before {
    opacity: 1;
}

.menubutton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* Конец меню */

/* Общая рамка с участниками */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Рамка одного участника */
.contestant {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    background-color: rgb(38, 38, 38);
}

/* Фото участника */
.contestant img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
    
}

/* Текст участника */
.contestant-name {
    font-weight: bold;
    margin-top: 10px;
}

/* Рамка с жизнями участнкиа */
.hearts {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    scale: 50%
}

/* одна из жизней участника */
.heart {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

/* крест окончания жизней */
.marker {
    width: 10em;
    height: 10em;
}